version: '3'

services:
  node-server:
    build: ./node-server
    volumes:
      - ./node-server:/app
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
    tty: true
    command: sh -c /entrypoint.sh
    ports:
      - 8080:8080
    user: 1000:1000
    # $(id -u):$(id -g) 

  webapp:
    build: ./webapp
    command: sh -c /entrypoint.sh
    tty: true
    volumes:
      - ./webapp:/app
    ports:
      - 3000:3000
    user: 1000:1000